{{!-- stored container --}}
<div class="container">
  
  <div class="row">
    <div class="col-sm-12 title">
        <h1><b>BREAKING NEWS</b></h1>
        <br>
        <p class="right"><a href="/">Home</a>  | <a href="/saved">Saved Articles</a> | 
        <a class="btn btn-xs btn-danger btn-size" href="/scrape"  id="scrape-submit" role="button">SCRAPE NEW ARTICLES!</a>

    </div>
    <div class="col-sm-12">
        <br>
        <img src="./images/typewriter.jpg" alt="writing instrument">
    </div>
  </div>

  <hr>
  <div class="row">
    <br>
    <div class="col-sm-8">
      <h2>List of Articles</h2>
      <div id="articles">   
        <div class="scroll">
          <hr>
          {{!-- Table  --}}
          <table class="table table-hover">
            {{!-- Table head --}}
            <thead>
              <tr>
                <th>Title</th>
                <th>Link</th>
              </tr>
            </thead>
            {{!-- Loops data into table rows --}}
            <tbody>
              {{#each articles}} 
              <tr tabindex="1" >
                <td> <a href="/articles/{{_id}}"> {{title}}</a></td> 
                <td>{{link}}</td> 
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {{!-- 4/12 columns span --}}
    <div class="col-sm-4">
      <form action="/articles" method="POST" class="form-horizontal">
        <h2>Notes For Articles</h2>
        <br>
        <div class="col-sm-12"><label>Title</label>
        <input class="form-control" name="Title" type="text" placeholder="Title"></div>
        <div class="col-sm-12"><label>Comments</label>
        <input class="form-control" name="Notes" type="text" placeholder="Notes"></div> 
        <br>
        <div class="form-group">
          <div class="col-md-12 admin-center">
            <br>
            <br>
            <button class="btn btn-success" id="savenote" type="Submit">Save Note</button>
          </div>
        </div>
      </form>
    </div>    
  <hr>
  </div>
</div>