{{!-- stored container --}}
<div class="container">
  
  <div class="row">
    <div class="col-sm-12">
        <br>
        <img src="./images/typewriter.jpg" alt="writing instrument">
    </div>
    <div class="col-sm-12 title">
        <h1><b>BREAKING NEWS</b></h1>
        <br>
        <p class="right"><a href="/">Home</a>  | <a href="/saved">Saved Articles</a> | <button class="btn btn-xs btn-danger btn-size" id="scrape-submit" type="Submit">SCRAPE NEW ARTICLES!</button></p>
    </div>
  </div>



  <hr>
  <div class="row">
    <div class="col-sm-2">
    </div>
  </div>
  <div class=""><h2>List of Articles</h2>
    <br>
    <div class="col-sm-8">
      <div class="container scroll">
        <h1>Note Scraper</h1>
        <h2><i>If you can do this...the homework should be no problem.</i></h2>
        <div id="articles"></div>
        <div id="notes"></div>

        {{!-- <table class="table table-hover table-nonfluid">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody class="">
            {{#each checkout}}
            <tr tabindex="1">
              <td>{{this.name}}</td>
              <td>                
                <form action="/{{this.id}}?_method=DELETE" method="POST" class="pull-left">
                  <input type="hidden" name="status" value="false">
                  <input type="hidden" name="id" value="{{this.id}}">
                  <button class="btn btn-xs btn-danger btn-size" type="submit"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                </form>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table> --}}
      </div>
    </div>
  </div>
  
  <div class="col-sm-2">
  </div>
  
  <hr>
</div>